/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap'); */ 

/* @import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap'); */
/* @import url('fonts/Montserrat-Regular.ttf');
@import url('fonts/UbuntuMono-Regular.ttf'); */

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all var(--transition-speed) ease;
}

html { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--color-darker);
    color: var(--color-lighter); 

    font-family: "Montserrat", Tahoma, Geneva, sans-serif;
    

    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "nav main"
        "footer footer";

    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    overflow: hidden;

    max-width: 100ch;
    
    width: 100%;

    padding: var(--space-3); 
    gap: var(--space-3); 
}

header {
    grid-area: header;
}

aside {
    color: var(--color-gray); 
    
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-2); 
}

nav { 
    color: var(--color-gray); 

    grid-area: nav;
}

main {
    background-color: var(--color-lighter);
    color: var(--color-darker);

    border-radius: var(--border-radius);

    grid-area: main;
    

    width: 100%;
    padding: var(--space-3);
        
    overflow-y: auto;
    
}

article {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    min-height: 500px;
}

footer {
    color: var(--color-gray); 

    grid-area: footer;
    text-align: center;
}

/* #region Forms */ 

form {
    background-color: var(--color-lighter);
    color: var(--color-darker);
    border: var(--space-1) var(--color-darker) solid; 
    border-radius: var(--border-radius);
    
    padding: var(--space-2); 
    
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

label {
    border: 0; 
    padding: 0;
    margin: 0;
}

input {
    background-color: var(--color-light);
    color: var(--color-darker);
    
    border: 0; 
    border-left: var(--space-3) var(--color-primary) solid; 
    border-radius: var(--border-radius);
    padding: var(--space-1) var(--space-2); 

    font-size: var(--text-body);

    outline:none;
}

input:focus {
    background-color: var(--color-primary);
    color: var(--color-darker);

    border: 0; 
    border-left: var(--space-3) var(--color-primary) solid; 
    border-radius: var(--border-radius);

    
}

input:hover { 
    background-color: var(--color-primary); 
    color: var(--color-darker);
}

button { 
    background-color: var(--color-dark);
    color: var(--color-light);
    
    border: 0; 
    border-left: var(--space-3) var(--color-primary) solid; 
    border-right: var(--space-3) var(--color-dark) solid; 
    border-radius: var(--border-radius);
    padding: var(--space-1) var(--space-2); 

    font-size: var(--text-body);

    width: fit-content;
    outline:none;
}

button:focus {
    background-color: var(--color-primary);
    color: var(--color-darker);

    border: 0; 
    border-left: var(--space-3) var(--color-primary) solid; 
    border-right: var(--space-3) var(--color-primary) solid; 
    border-radius: var(--border-radius);

    
    
}

button:hover { 
    background-color: var(--color-primary); 
    color: var(--color-darker);

        border: 0; 
    border-left: var(--space-3) var(--color-primary) solid; 
    border-right: var(--space-3) var(--color-primary) solid; 
    border-radius: var(--border-radius);

    cursor: pointer;
}

@media (max-width: 768px) {

    form { 
        width: auto;
    }

}



/* #endregion Forms */ 

/* #region Details */ 

details { 
    background-color: var(--color-lighter);
    color: var(--color-darker);
    border: var(--space-1) var(--color-darker) solid; 
    border-radius: var(--border-radius);
    
    padding: var(--space-2); 
    
    width: fit-content;
}

summary { 
    font-size: var(--text-h5);
    cursor: pointer;
    user-select: none;

    padding: var(--space-2);

    list-style-type: '⬇ ';

}

details[open] > summary {
  list-style-type: '⬆ ';
}

@media (max-width: 768px) {
    details { 
        width: auto;
    }
}

/* #endregion Details */ 




/* 

Caption 

*/ 

/* h1 > summary,
h2 > summary,
h3 > summary,
h4 > summary,
h5 > summary,
h6 > summary { 
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #868686;
    font-size: var(--text-small);
} */




@media (max-width: 768px) {
    
    body { 
        grid-template-areas:
        "header"
        "nav"
        "main" 
        "aside"
        "footer";

        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        justify-items: center;
        overflow: visible;
        height: auto;
    }

    header { 
        margin: 0rem 1rem;
    }

    header h1 { 
        text-align: center;
    }

    aside { 
        height: auto;
        margin: 0;
        

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: var(--space-3); 
    }

    nav { 
        margin: 0 var(--space-3); 
    }
}

















/* 

Base Elements -> Headings 

*/

/* h1, h2, h3, h4, h5, h6 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* h1, h2, h3, h4, h5, h6 {
    margin: var(--space-3) 0; 
} */

h1 { font-size:var(--text-h1); font-weight: var(--weight-h1); line-height: var(--line-h1);}
h2 { font-size:var(--text-h2); font-weight: var(--weight-h2); line-height: var(--line-h2);}
h3 { font-size:var(--text-h3); font-weight: var(--weight-h3); line-height: var(--line-h3);}
h4 { font-size:var(--text-h4); font-weight: var(--weight-h4); line-height: var(--line-h4);}
h5 { font-size:var(--text-h5); font-weight: var(--weight-h5); line-height: var(--line-h5);}
h6 { font-size:var(--text-h6); font-weight: var(--weight-h6); line-height: var(--line-h6);}

/* 
h1 > .ionicon { height:var(--text-h1); }
h2 > .ionicon { height:var(--text-h2); }
h3 > .ionicon { height:var(--text-h3); }
h4 > .ionicon { height:var(--text-h4); }
h5 > .ionicon { height:var(--text-h5); }
h6 > .ionicon { height:var(--text-h6); } */

/* 

Base Elements -> Body 

*/ 

body { 
    font-size: var(--text-body); 
    font-weight: var(--weight-body); 
    line-height: var(--line-body); 
}


/* 

Base Elements -> Paragraphs 

*/

p {
    padding: var(--space-2) 0;
}

/* 

Base Elements -> Links 

*/

a {
    background-color: var(--color-lighter);
    color: var(--color-darker);;
    border: .15rem var(--color-primary) solid; 
    border-radius: var(--border-radius);
    
    padding: 0 var(--space-1); 
    
    width: fit-content;
    text-decoration: none;
    transition: all var(--transition-speed) ease;
}

a:hover {
    background-color: var(--color-primary);
    color: var(--color-darker);
    border: .15rem var(--color-primary) solid; 
    border-radius: var(--border-radius);
    text-decoration: none;
}

/* 

Base Elements -> Lists

*/

ul, ol {
    padding-left: 4ch;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
    padding-left: 4ch;
}

li {
    /* padding-left: 0.25rem; */
}

li > ul,
li > ol {
    /* margin: 0.5rem 0; */
}

/* 

Base Elements -> Nested lists 

*/

ul ul {
    list-style-type:disc
}

ul ul ul {
    list-style-type: square;
}

/* 

Base Elements -> Blockquotes 

*/

blockquote {
    background-color: var(--color-darker);
    color: var(--color-light); 

    padding: var(--space-3);
    
    border-left: var(--space-2) solid var(--color-primary);
    border-radius: var(--border-radius);
    
    
    font-style: italic;
    position: relative;
}

blockquote blockquote {
    border: 1px solid var(--color-primary);
}

blockquote p {
    margin: 0.5rem 0;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* 

Base Elements -> Code 

*/

code {
    background-color: var(--color-darker);
    color: var(--color-lighter); 
    border: .15rem var(--color-darker) solid; 

    height: fit-content;
    width: fit-content;
    padding: 0 var(--space-1); 

    font-family: "Ubuntu Mono", monospace;
    font-size: var(--text-small);   
    
    vertical-align: middle;
    border-radius: var(--border-radius);
}

pre {
    padding: var(--space-3);
    
    overflow-x: auto;
    font-family: "Ubuntu Mono", monospace;
    font-size: var(--text-caption); 
    line-height: 1.1rem;
    border-radius: var(--border-radius);
}

pre code {
    background: none;
    padding: 0;
    border: none;
    font-size: var(--text-caption); 
    font-weight: 300;
}

/* 

Base Elements -> Tables 

*/

table-wrapper {
  width: 100%;
  display: block;
  overflow-x: auto;
  border-radius: var(--border-radius);
}

table-wrapper table {
  min-width: 100%;
  width: auto;
}

table {
    background-color: var(--color-dark);
    color: var(--color-lighter); 
    border-collapse: collapse;
}

th,
td {
    padding: var(--space-2);
    text-align: left;
    border-bottom: 1px solid var(--color-gray);
}

th {
    background-color: var(--color-primary);
    color: var(--color-darker);
    font-weight: 600;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: color-mix(in srgb, var(--color-primary) 15%, transparent);
}

/* 

Base Elements -> Horizontal Rules 

*/

hr {
    height: .15rem;
    background-color: var(--color-darker);
}

/* 

Base Elements -> Images 

*/

img {
    max-width: 100%;
    height: auto;
}

/* 

Base Elements -> Strong and Emphasis 

*/

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

/* 

Base Elements -> Task Lists 

*/

input[type="checkbox"] {
    margin-right: var(--space-2);
}

/* 

Base Elements -> Definition Lists 

*/

dl {
    margin: 1rem 0;
}

dt {
    font-weight: 600;
    color: red;
    margin-top: 1rem;
}

dd {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

/* 

Base Elements -> Footnotes 

*/

.footnote-definition { 
    display: flex;
    flex-direction: row;
    gap: var(--space-2); 
}

.footnote-ref {
    font-size: 0.8rem;
    vertical-align: super;
    color: var(--accent-color);
}

.footnotes {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid var(--border-color);
    font-size: 0.9rem;
}

/* 

Base Elements -> Mobile Responsive Adjustments 

*/

@media (max-width: 768px) {

    

    
    table {
        font-size: 0.9rem;
    }
    
    th,
    td {
        padding: 0.5rem 0.75rem;
    }
}


