post { 
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

post > post-header { 
    background-color: var(--color-light);

    padding:var(--space-2); 

    border: var(--border-size) var(--color-gray) dashed; 
    border-radius: var(--border-radius);

    color: var(--color-gray);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    font-size: var(--text-caption);
    line-height: var(--line-caption);
}

post-header-item > a { 
    border: inherit;
    border-radius: inherit;
    margin: inherit;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
}

post-header-item > a:hover { 
    border: inherit;
    border-radius: inherit;
    margin: inherit;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    
    color: var(--color-darker); 
    background-color: inherit;

    text-decoration: underline;
}

post-header .ionicon { 
    width:var(--text-h5) !important; 
    height: auto;
    vertical-align: text-top;
}

post > post-header > post-header-item { 
    
}

post > post-content { 
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

post-content img { 
    border-radius: var(--border-radius);
}