/* homescreen notes accent: #465A65 */ 

:root {

    /* #region Colors */

    --color-primary: #fac863;
    --color-secondary: gray;
    --color-success: lightgreen;
    --color-warning: orange;
    --color-alert: orangered;

    --color-darker: #2b2c2f;
    --color-dark: #38393c;
    --color-gray: #88898d;
    --color-light: #e7e8ed;
    --color-lighter: #feffff;
    
    /* #endregion Colors */

    /* #region Spacing */ 

    --space-1: calc(1rem * 0.25);
    --space-2: calc(1rem * 0.50);
    --space-3: calc(1rem * 1.00);
    --space-4: calc(1rem * 1.50);
    --space-5: calc(1rem * 3.00);

    /* #endregion Spacing */ 


    --transition-speed: 0.3s;
    --border-radius: 0.5rem;
    --border-size: .15rem;

    /* #region Typography */ 

    --text-h1       : 3.05rem; 
    --text-h2       : 2.44rem;
    --text-h3       : 1.95rem; 
    --text-h4       : 1.56rem;
    --text-h5       : 1.25rem;
    --text-h6       : 1.00rem;
    --text-body     : 1.20rem;
    --text-caption  : 1.00rem;
    --text-small    : .8rem;

    --line-h1: 3.05rem; 
    --line-h2: 2.44rem;
    --line-h3: 1.95rem; 
    --line-h4: 1.56rem;
    --line-h5: 1.3rem;
    --line-h6: 1.3rem;
    --line-body: 1.6rem;
    --line-caption: 1.6rem;
    --line-small: 1.6rem;

    --weight-h1: 600; 
    --weight-h2: 500;
    --weight-h3: 400; 
    --weight-h4: 400;
    --weight-h5: 400;
    --weight-h6: 400;
    --weight-body: 400;
    --weight-caption: 400;
    --weight-small: 400;
    
    /* #endregion Typography */ 

    --aside-width: 12rem;
}

[data-theme="alt0"] { --color-primary: #fa6363; }
[data-theme="alt1"] { --color-primary: #fa63a8; }
[data-theme="alt2"] { --color-primary: #c863fa; }
[data-theme="alt3"] { --color-primary: #8363fa; }
[data-theme="alt4"] { --color-primary: #63a8fa; }
[data-theme="alt5"] { --color-primary: #63fac8; }
[data-theme="alt6"] { --color-primary: #63fa83; }
[data-theme="alt7"] { --color-primary: #83fa63; }
[data-theme="alt8"] { --color-primary: #c8fa63; }
[data-theme="alt9"] { --color-primary: #fac863; }