
/* #region Navigation Styles */

nav-ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

nav-ul .ionicon { 
    height: var(--text-h4);
}

nav-li > a {
    
    background-color: var(--color-darker);
    color: var(--color-light);
    
    font-size: var(--text-h4);
    text-decoration: none;

    border-radius: var(--border-radius);
    border: var(--border-size) var(--color-dark) solid; 

    padding: var(--space-2);
    width: auto;

    display: flex;
    gap: var(--space-2);
    align-items: center;

    text-decoration: none;
}

nav-li > a:hover, 
nav-li > a[aria-current="page"] {

    background-color: var(--color-primary);
    color: var(--color-darker);

    border: var(--border-size) var(--color-primary) solid; 

    text-decoration: none;
}

@media (max-width: 768px) {
    nav-ul { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        gap: var(--space-3);
    }
}

/* #endregion */ 