

project-list { 
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
}

project-item {
    display: grid;
    flex: 0 0 calc(50% - var(--space-3) / 2);
    grid-template-areas: 
        "content"
        "status ";
    grid-template-rows: 1fr auto;
    border: var(--border-size) var(--color-dark) solid; 
    border-radius: var(--border-radius);
    background-color: var(--color-light);

    cursor: pointer;
}

project-item-title {
    grid-area: title;

    font-size: var(--text-h4);
    line-height: var(--line-h4);
    display: inline-block;
}


project-item-content {
    grid-area: content;
    display: flex;
    flex-direction: column;

    padding:var(--space-2);

    
}

project-item:hover { 
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

project-item:hover project-item-status {
    background-color: var(--color-primary);
    color: var(--color-darker);
}

project-item-status { 
    grid-area: status;
    
    background-color: var(--color-dark);
    color: var(--color-light);

    
    padding: var(--space-1) var(--space-2);
}

project-item-status .ionicon { 
    width:var(--text-h5) !important; 
    height: auto;
    vertical-align:text-bottom;
}

@media (max-width: 768px) {

    project-list {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    project-item {  
        flex: none;
        grid-template-areas: 
            "content logo"
            "content logo"
            "status  status";

        // background-color: var(--color-darker);
    }

    project-item-content { 
        // background-color: var(--color-light);
    }

    project-item-status { 
        justify-self: stretch;
        border-radius: 0;
    }
}


@media (max-width: 390px) {
    
    project-item { 
        grid-template-areas: 
            "logo"
            "content"
            "status";
        grid-template-columns: 100%;
    }
}