

big-link > a { 
    background-color: var(--color-light);
    color: var(--color-darker);
    
    font-size: var(--text-h4);
    text-decoration: none;

    border-radius: var(--border-radius);
    border: var(--border-size) var(--color-gray) solid; 

    padding: var(--space-2);
    width: fit-content;

    display: flex;
    gap: var(--space-2);
    align-items: center;

    text-decoration: none;
}

big-link .ionicon { 
    width:var(--text-h4) !important; 
    height: auto;
    vertical-align:text-bottom;
}

big-link:hover .ionicon { 
    color: var(--color-darker); 
}

@media (max-width: 768px) {
    big-link > a { 
        width: auto;
    }
}