/* homescreen notes accent: #465A65 */ 

:root {

    /* #region Colors */


/* https://colorpicker.dev/#474134 */

    --color-primary: #fac863; /* hsl(40 93.8% 68.4%) */ 
    --color-primary-dark: hsl(40 73.8% 58%); /* hsl(40 73.8% 58%) */
    --color-primary-darker: hsl(40 7.8% 26.7%); /* hsl(40 13% 25%) */ 


    // --color-secondary: gray;
    // --color-success: lightgreen;
    // --color-warning: orange;
    // --color-alert: orangered;

    // old colors (2025-12-09)
    // --color-darker  : hsl(225 4.4% 17.6%);
    // --color-dark    : hsl(225 3.4% 22.7%);
    // --color-gray    : hsl(228 2.1% 54.3%);
    // --color-light   : hsl(0   0%   91.4%);
    // --color-lighter : hsl(180 100% 99.8%);

    --color-darker  : hsl(210 6% 15%);
    --color-dark    : hsl(210 6% 30%);
    --color-gray    : hsl(210 6% 50%);
    --color-light   : hsl(210 6% 80%);
    --color-lighter : hsl(210 6% 90%);
    
    /* #endregion Colors */

    /* #region Spacing */ 

    --space-1: calc(1rem * 0.25);
    --space-2: calc(1rem * 0.50);
    --space-3: calc(1rem * 1.00);
    --space-4: calc(1rem * 1.50);
    --space-5: calc(1rem * 3.00);

    /* #endregion Spacing */ 


    --transition-speed: 0.3s;
    --border-radius: 0.5rem;
    --border-size: .15rem;

    /* #region Typography */ 

    --text-h1       : 3.05rem; 
    --text-h2       : 2.44rem;
    --text-h3       : 2.00rem; 
    --text-h4       : 1.50rem;
    --text-h5       : 1.25rem;
    --text-h6       : 1.00rem;
    --text-body     : 1.20rem;
    --text-caption  : 1.00rem;
    --text-small    : .8rem;

    --line-h1: 3.05rem; 
    --line-h2: 2.44rem;
    --line-h3: 2.00rem; 
    --line-h4: 1.80rem;
    --line-h5: 1.3rem;
    --line-h6: 1.3rem;
    --line-body: 1.6rem;
    --line-caption: 1.6rem;
    --line-small: 1.6rem;

    --weight-h1: 600; 
    --weight-h2: 500;
    --weight-h3: 400; 
    --weight-h4: 400;
    --weight-h5: 400;
    --weight-h6: 400;
    --weight-body: 400;
    --weight-caption: 400;
    --weight-small: 400;
    
    /* #endregion Typography */ 

    --aside-width: 12rem;
}

[data-theme="alt0"] { --color-primary: #fa6363; }
[data-theme="alt1"] { --color-primary: #fa63a8; }
[data-theme="alt2"] { --color-primary: #c863fa; }
[data-theme="alt3"] { --color-primary: #8363fa; }
[data-theme="alt4"] { --color-primary: #63a8fa; }
[data-theme="alt5"] { --color-primary: #63fac8; }
[data-theme="alt6"] { --color-primary: #63fa83; }
[data-theme="alt7"] { --color-primary: #83fa63; }
[data-theme="alt8"] { --color-primary: #c8fa63; }
[data-theme="alt9"] { --color-primary: #fac863; }