christmas-container { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
}

christmas-snowflake {
    position: absolute;
    top: -30px;
    color: white;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    opacity: 0.45;

    /* Add hardware acceleration */
    transform: translateZ(0);
    will-change: transform, opacity;
}

@keyframes fall {
    to {
        transform: 
            translateY(100vh) 
            translateX(25vw) 
            rotate(360deg);
        opacity: 0;
    }
}