/*

Section Styles 

*/

section { 
    display: grid;
    grid-template-areas: 
        "title aside"
        "subtitle subtitle"
        "separator separator"
        "content content";
    grid-template-columns: 1fr auto;
}

section-title { 
    grid-area: title;
    font-size: var(--text-h3);
    line-height: var(--line-h3);
    display: inline-block;
    
}

section-title .ionicon { 
    width:var(--text-h3) !important; 
    height: auto;
    vertical-align:  top;
}

section-aside {
    grid-area: aside;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    color: var(--color-gray);
}

section-subtitle {
    grid-area: subtitle;

    color: var(--color-gray);
    margin-top: var(--space-2); 
}

section-separator { 
    grid-area: separator;
    height: .15rem; 
    background-color: var(--color-darker);
}

section-content { 
    grid-area: content;
    margin-top: var(--space-3); 

    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

section-content > * {
    /* border: 1px rebeccapurple solid; */
}

section-item-list { 
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    
}

section-item { 
    display: grid;
    grid-template-areas: 
        "title aside"
        "subtitle subtitle"
        "content content";
    grid-template-columns: 1fr auto;
}

section-item > section-item-title { 
    grid-area: title;
    font-size: var(--text-h6);
}

section-item-title > a { 
    
    background-color: var(--color-lighter);
    color: var(--color-darker);
    border: .15rem var(--color-darker) solid; 
    
    padding: 0 var(--space-2); 
    font-size: var(--text-h6);
    font-weight: 500;
    text-decoration: none;

    border-radius: var(--border-radius);

    width:fit-content;
    height: fit-content;

    display: flex;
    gap: .5rem;
    align-items: center;
}

section-item-title > a:hover { 
    background-color: var(--color-primary);
    color: var(--color-darker); 
    border: .15rem var(--color-darker) solid; 

    text-decoration: none;
    
}

section-item > section-item-aside {
    grid-area: aside;
    font-size: var(--text-body);
    color: var(--color-gray);
    margin-left: var(--space-3);
}

section-item > section-item-subtitle { 
    grid-area: subtitle;
    font-size: var(--text-body);
    color: var(--color-gray);
    
}

section-item > section-item-content { 
    grid-area: content;
}


@media (max-width: 768px) {
    
    section { 
        grid-template-areas: 
            "title"
            "subtitle"
            "aside"
            "separator"
            "content";
        grid-template-columns: 100%;
    }

    section-item { 
        
        grid-template-areas: 
            "title"
            "subtitle"
            "aside"
            "content";
        grid-template-columns: 100%;
    }

    section-item > section-item-aside {
        margin: 0; 
    }
}