

tinypost-list { 
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

tinypost-item {
    display: grid;
    grid-template-areas:  
        "title"
        "content"
        "status";


    border: var(--border-size) var(--color-gray) solid; 
    border-radius: var(--border-radius);
    
    background-color: var(--color-light); 
    

    cursor: pointer;
}

tinypost-item:hover { 
    border-color: var(--color-primary);
    background-color: var(--color-primary); 
}

tinypost-item:hover tinypost-item-status { 
    color: var(--color-darker); 
    background-color: var(--color-primary);
    border-top: var(--border-size) dashed var(--color-primary); 
}

tinypost-item:hover tinypost-item-title .ionicon { 
    color: var(--color-darker); 
}

tinypost-item-title {    
    grid-area: title; 
    font-size: var(--text-h4);
    line-height: var(--line-h4);
    display: inline-block;

    padding: var(--space-2); 
}

tinypost-item-title .ionicon { 
    width:var(--text-h3) !important; 
    height: auto;
    vertical-align:text-top;
    color: var(--color-gray);
}

tinypost-item-content { 
    grid-area: content;
    padding: var(--space-2); 
}

tinypost-item-status { 
    grid-area: status;
    
    color: var(--color-gray);

    font-size: var(--text-caption);
    line-height: var(--line-caption);

    border-top: var(--border-size) dashed var(--color-gray); 
    // border: 0;

    padding: var(--space-1) var(--space-2);   

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    
}

tinypost-item-status .ionicon { 
    width:var(--text-h5) !important; 
    height: auto;
    vertical-align:text-bottom;
}



@media (max-width: 768px) {

    tinypost-item { 
        grid-template-areas:  
        "title"
        "content"
        "status";
        grid-template-columns: auto;
    }

    tinypost-item-status { 
        width:auto; 
    }
}


@media (max-width: 390px) {
    
    
}