

#aside-portrait-toy { 
    width: 200px;
    height: 200px;
    position:absolute;
    background: var(--color-lighter); 
    border-radius: var(--border-radius);
    cursor: grab;
    opacity: 0;
}

aside-portrait {
    background-color: var(--color-light);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 200px;
    height: 200px;

    
    border-radius: var(--border-radius);
    padding: var(--space-1);
}

aside-portrait > img {
    border-radius: var(--border-radius);
    border: 0; 
    margin:0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

aside-ul { 
    display: flex;
    gap: var(--space-2);
    
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

aside-ul .ionicon { 
    height: var(--text-h5);
}

aside-li a { 
    background-color: var(--color-darker);
    color: var(--color-light);
    
    font-size: var(--text-h5);
    text-decoration: none;

    border-radius: var(--border-radius);
    border: var(--border-size) var(--color-dark) solid;
    
    padding: var(--space-2);
    width: auto;  

    display: flex;
    gap: var(--space-2);
    align-items: center;
}

aside-li a:hover { 
    background-color: var(--color-primary);
    color: var(--color-darker);

    border: var(--border-size) var(--color-primary) solid; 
}

aside-subtitle {
    font-size: var(--text-h5);
    line-height: var(--line-h5);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start;
}


@media (max-width: 768px) {
    aside-ul .ionicon { 
        height: var(--text-h4);
    }

    aside-li a { 
        font-size: var(--text-h4);
    }
}