

button.copy-btn {
    background-color: var(--color-light);
    color: var(--color-gray);

    min-width: 10ch;
    
    position: absolute;
    top: 0;
    right: 0;
    
    border: var(--border-size) var(--color-gray) solid; 
    border-top-left-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: 0;

    padding: var(--space-1) var(--space-2);
    cursor: pointer;
    font-size: var(--text-small);
    z-index: 1;
}

button.copy-btn:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-darker);
}