/*

Section Styles 

*/

section { 
    display: grid;
    grid-template-areas: 
        "title nav"
        "content content";
    grid-template-columns: 1fr auto;
    gap: var(--space-3);
}

section-title { 
    grid-area: title;
    font-size: var(--text-h3);
    line-height: var(--line-h3);
    display: inline-block;
}

section-title .ionicon { 
    width:var(--text-h2) !important; 
    height: auto;
    vertical-align: middle;
}

// section-subtitle {
//     grid-area: subtitle;

//     background-color: var(--color-darker);
//     color: var(--color-light);
//     margin-top: var(--space-2); 
//     margin-bottom: var(--space-2);

//     padding:var(--space-2); 

//     border: var(--border-size) solid black;
//     border-radius: var(--border-radius);
// }

// section-subtitle .ionicon { 
//     width:var(--text-h4) !important; 
//     height: auto;
//     vertical-align:  top;
// }

section-nav {
    grid-area: nav;
    font-size: var(--text-h4);
    display: inline-block;

    width: var(--aside-width); 
}

section-nav > a { 
    background-color: var(--color-light);
    color: var(--color-darker);
    
    font-size: var(--text-h4);
    text-decoration: none;

    border-radius: var(--border-radius);
    border: var(--border-size) var(--color-darker) solid; 

    padding: var(--space-2);
    width: auto;

    display: flex;
    gap: var(--space-2);
    align-items: center;
    text-decoration: none;
}

section-nav > a:hover {

    background-color: var(--color-primary);
    color: var(--color-darker);

    border-radius: .5rem;
    border: var(--border-size) var(--color-primary) solid; 
    text-decoration: none;
}

section-nav .ionicon { 
    width:var(--text-h4) !important; 
    height: auto;
    vertical-align: top;
}



section-content { 
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

// section-item-list { 
//     display: flex;
//     flex-direction: column;
//     gap: var(--space-3);
    
// }

// section-item { 
//     display: grid;
//     grid-template-areas: 
//         "title   aside"
//         "content aside";
//     grid-template-columns: 1fr auto;
// }

// section-item > section-item-title { 
//     grid-area: title;
//     font-size: var(--text-h6);
// }

// section-item-title > a { 
    
//     background-color: var(--color-lighter);
//     color: var(--color-darker);
//     border: .15rem var(--color-darker) solid; 
    
//     padding: 0 var(--space-2); 
//     font-size: var(--text-h6);
//     font-weight: 500;
//     text-decoration: none;

//     border-radius: var(--border-radius);

//     width: fit-content;
//     height: fit-content;

//     display: flex;
//     gap: .5rem;
//     align-items: center;
// }

// section-item-title > a:hover { 
//     background-color: var(--color-primary);
//     color: var(--color-darker); 
//     border: .15rem var(--color-darker) solid; 

//     text-decoration: none;
    
// }

// section-item > section-item-aside {
//     grid-area: aside;
//     font-size: var(--text-body);
//     color: var(--color-gray);
//     margin-left: var(--space-3);
// }

// section-item > section-item-subtitle { 
//     grid-area: subtitle;
//     font-size: var(--text-body);
//     color: var(--color-gray);
    
// }

// section-item > section-item-content { 
//     grid-area: content;
// }


@media (max-width: 768px) {
    
    section { 
        grid-template-areas: 
            
            "title"
            "content"
            "nav";
        grid-template-columns: 100%;
    }

    section-nav { 
        width:auto; 
    }

    // section-item { 
        
    //     grid-template-areas: 
    //         "title"
    //         "aside"
    //         "content";
    //     grid-template-columns: 100%;
    // }

    // section-item > section-item-aside {
    //     margin: 0; 
    // }
}