post { 

}

post > post-header { 
    background-color: var(--color-darker);
    color: var(--color-light);

    padding:var(--space-2); 

    border-left: var(--space-2) solid var(--color-primary);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    font-size: var(--text-caption);
    line-height: var(--line-caption);
}

post-header .ionicon { 
    width:var(--text-h5) !important; 
    height: auto;
    vertical-align: text-top;
}

post > post-header > post-header-item { 
    
}

post > post-content { 

}