

tinypost-list { 
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

tinypost-item {
    display: grid;
    grid-template-areas:  
        "status title "
        "status content ";
    grid-template-columns: auto 1fr ;
    border: var(--border-size) var(--color-darker) solid; 
    border-radius: var(--border-radius);
    
    background-color: var(--color-light); 
    

    cursor: pointer;
}

tinypost-item:hover { 
    border-color: var(--color-primary);
    background-color: var(--color-primary); 
}

tinypost-item:hover tinypost-item-status{ 
    color: var(--color-darker); 
    background-color: var(--color-primary);
}

tinypost-item-title {    
    grid-area: title; 
    font-size: var(--text-h4);
    line-height: var(--line-h4);
    display: inline-block;

    padding: var(--space-2); 
}

tinypost-item-content { 
    grid-area: content;
    padding: var(--space-2); 
}

tinypost-item-status { 
    grid-area: status;
    background-color: var(--color-dark);
    color: var(--color-light);
    width: var(--aside-width); 

    font-size: var(--text-caption);
    line-height: var(--line-caption);

    // border: var(--border-size) solid var(--color-darker); 
    border: 0;

    padding: var(--space-1) var(--space-2);   

    align-content: center;
}

tinypost-item-status .ionicon { 
    width:var(--text-h5) !important; 
    height: auto;
    vertical-align:text-bottom;
}

@media (max-width: 768px) {

    tinypost-item { 
        grid-template-areas:  
        "title"
        "content"
        "status";
        grid-template-columns: auto;
    }

    tinypost-item-status { 
        width:auto; 
    }
}


@media (max-width: 390px) {
    
    
}