
/* #region Navigation Styles */

nav-ul {
    
    

    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

nav-ul .ionicon { 
    height: var(--text-h4);
}

nav-li > a {
    
    background-color: var(--bg-secondary);
    color: var(--text-white);
    
    font-size: var(--text-h4);
    text-decoration: none;

    border-radius: .5rem;
    border: 0; 

    padding: .5rem;
    width: auto;

    display: flex;
    gap: .5rem;
    align-items: center;
}

nav-li > a:hover, 
nav-li > a[aria-current="page"] {

    background-color: var(--bg-primary);
    color: var(--text-dark); 

    border: .1rem var(--accent-color) solid;
    border-radius: .5rem;

    text-decoration: none;
    border: 0; 
}



@media (max-width: 768px) {
    nav-ul { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        gap: var(--space-3);
    }
}

/* #endregion */ 