
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> {{ page.title | default(value=config.title) }} </title>
    
    <!-- #region Favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- #endregion Favicon -->

    <!-- #region Fonts -->
    <link rel="preload" href="/fonts/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/UbuntuMono-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <!-- #endregion Fonts -->

    <!-- #region Stylesheets -->
    <link rel="preload" href="/styles.css" as="style" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <!-- #endregion Stylesheets -->

    <!-- FOUC FIX -->
    <style> html { visibility: hidden ;  } </style>

</head>
<body>
    {% include "base-header.html"  %}

    {% include "base-aside.html" %}

    {% include "base-nav.html" %}

    <main> 
        <article>
            {% block content %}
            {% endblock content %}
        </article>
    </main>

    {% include "base-footer.html"  %}

    <script type="text/javascript" src="/js/base.js"></script>
    
</body>
</html>
