

<aside>
    <!-- contains img tag with a base64 encoded jpeg (over 40k) -->
    {% include "base-aside-portrait.html" %}

    {% include "base-aside-toy.html" %}
    
    <aside-ul>
        <aside-li>
            <a href="mailto:{{config.extra.email}}">{% include "ionicons/mail-open-outline.html" %}</a>
        </aside-li>

        {% for it in config.extra.profiles %}
            <aside-li>
                <a href="{{it.url | safe}}" target="_blank">
                    {% if it.network == "linkedin" %}
                    {% include "ionicons/logo-linkedin.html" %}
                    {% elif it.network == "github" %}
                    {% include "ionicons/logo-github.html" %}
                    {% elif it.network == "stackoverflow" %}
                    {% include "ionicons/logo-stackoverflow.html" %}
                    {% endif %}
                </a>
            </aside-li>
        {% endfor %}

        <aside-li>
            <a href="https://ko-fi.com/jpmitchellca" target="_blank">{% include "ionicons/cafe-outline.html" %}</a>
        </aside-li>

        <aside-li>
            <a href="https://www.paypal.com/donate/?hosted_button_id=3RUDZR9MCLX8W" target="_blank">{% include "ionicons/logo-paypal.html" %}</a>
        </aside-li>

        <aside-li>
            <a href="/extra">
            {% include "ionicons/settings-outline.html" %}
            </a>
        </aside-li>
        
    </aside-ul>

    <aside-subtitle>
        {{ config.extra.tagline }}
    </aside-subtitle>
</aside>