{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/cube-outline.html" %}
        {{ page.title }}
    </section-title> 
        
    <section-nav>
        <a href="/projects">
             {% include "ionicons/arrow-undo-outline.html" %} 
             Projects
        </a>
    </section-nav>

    <section-content>
        <post> 
            <post-header> 
                <post-header-item> 
                    {% include "ionicons/shapes-outline.html" %}
                    {{ page.extra.type | default(value="Project") }}
                </post-header-item>

                {% if page.extra.platforms %}
                <post-header-item> 
                    {% include "ionicons/layers-outline.html" %}
                    {% for it in page.extra.platforms %} {{it}} {% endfor %}
                </post-header-item>
                {% endif %}

                <post-header-item>
                    {% include "ionicons/time-outline.html" %}
                    Posted {{ page.date | date(format="%A %B %d, %Y") }} 
                </post-header-item>

                {% if page.updated %}

                <post-header-item>
                    {% include "ionicons/alarm-outline.html" %}
                    Updated {{ page.updated | date(format="%A %B %d, %Y") }}
                </post-header-item>

                {% endif %}

                

                
            </post-header>

            <post-content>
                {{ page.content | safe }}
            </post-content>
        </post>
    </section-content>
</section>

{% endblock %}