{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/cube-outline.html" %}
        {{ page.title }}
    </section-title> 
        
    <section-nav>
        <a href="/projects">
             {% include "ionicons/arrow-undo-outline.html" %} 
             Projects
        </a>
    </section-nav>

    

    <section-content>

        <post> 
            <post-header> 
                <post-header-item> 
                    {% include "ionicons/shapes-outline.html" %}
                    {{ page.extra.type | default(value="Project") }}
                </post-header-item>

                {% if page.extra.platforms %}
                <post-header-item> 
                    {% include "ionicons/layers-outline.html" %}
                    {% for it in page.extra.platforms %} {{it}} {% endfor %}
                </post-header-item>
                {% endif %}
   
                <post-header-item> 
                    {% include "ionicons/time-outline.html" %}
                    {{ page.date | date(format="%A %B %d, %Y") }} 
                </post-header-item>
            </post-header>

            <post-content>
                {{ page.content | safe }}
            </post-content>
        </post>

        
    </section-content>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // const span = document.querySelector('[data-updated]');
        // const updatedDate = new Date(span.dataset.updated);
        // const now = new Date();
        // const totalDays = Math.floor((now - updatedDate) / (1000 * 60 * 60 * 24));
        
        // const years = Math.floor(totalDays / 365);
        // const days = totalDays % 365;
        
        // span.textContent = `${span.textContent} ${years} years, ${days} days ago`;

        // add permalink copy button
        // const element = document.querySelector('section-subtitle');
        // addCopyButtonToElement(element, 
        //     "Copy Permalink", "Permalink Copied!", 
        //     () => '{{page.permalink | safe}}'
        // );
    });


</script>

{% endblock %}