
{% extends "base.html" %}

{% block content %}



<section> 
    <section-title> 
        {% include "ionicons/hand-left-outline.html" %}
        Welcome 
    </section-title>   

    <section-content>
        <p> Welcome to my website. This is where I post my recent work, my writing, and also links to good content that I've found on the internet. </p>       
        <p> Are you hiring? If so, feel free to check out my <a href="/resume/2025-12-09_resume.pdf">Resume</a> and send me an <a href="mailto:{{config.extra.email}}"> Email </a> </p>
        <p> I am currently accepting offers. </p>
    </section-content>
    
</section>

<section>
    <section-title>
        {% include "ionicons/cube-outline.html" %}
        Projects
    </section-title>

    <section-nav>
        <a href="/projects">
             {% include "ionicons/arrow-redo-outline.html" %} 
            All Projects 
        </a>
    </section-nav>

    {% set projects = get_section(path="projects/_index.md") %}

    <section-content>
        What I'm working on.  

        <project-list>
        {% for it in projects.pages | slice(end=2) %}
            <project-item data-internal-href="{{ it.path }}">
                <project-item-content>
                    <project-item-title>
                        {{ it.title }}
                    </project-item-title>

                    {% if it.extra.summary %}
                    {{it.extra.summary}}
                    {% else %}
                    No Summary
                    {% endif %}
                </project-item-content>
                
                <project-item-status>
                    {% include "ionicons/shapes-outline.html" %}
                    {{ it.extra.type | default(value="Project") }}
                </project-item-status>
            </project-item>
        {% endfor %}
        </project-list>
    </section-content>
</section> 

<section> 
    <section-title> 
        {% include "ionicons/newspaper-outline.html" %}
        Posts 
    </section-title>  
    
    <section-nav>
        <a href="/posts">
             {% include "ionicons/arrow-redo-outline.html" %} 
             All Posts 
        </a>
    </section-nav>

    {% set posts = get_section(path="posts/_index.md") %}
    {% set posts_sorted = posts.pages | sort(attribute="date") | reverse | slice(end=3) %}

    <section-content>
        Guides, articles, and blog entries.

        <tinypost-list>
            {% for it in posts_sorted %}
            <tinypost-item data-internal-href="{{it.path}}">
                

                <tinypost-item-content>
                    <tinypost-item-title>
                        {{ it.title }}
                    </tinypost-item-title>
                    {% if it.extra.summary %}
                    {{it.extra.summary}}
                    {% endif %}
                </tinypost-item-content>

                <tinypost-item-status>
                    {% include "ionicons/time-outline.html" %} 
                    Posted 
                    {{ it.date | date(format="%a %b. %d, %Y") }}
                </tinypost-item-status>
            </tinypost-item>
            {% endfor %}
        </tinypost-list>
    </section-content>
</section>

<section> 
    <section-title> 
        {% include "ionicons/link-outline.html" %}
        Links
    </section-title>  

    <section-nav>
        <a href="/links">
             {% include "ionicons/arrow-redo-outline.html" %} 
             All Links 
        </a>
    </section-nav>
    
    {% set links = load_data(path="links/links.toml") %}
    {% set links_sorted = links.links | sort(attribute="date") | reverse | slice(end=3) %}


    <section-content>
        Pages that are worth reading. Snapshots are on the right.
        

        <link-list>
            
            {% for it in links_sorted %}
            <link-item >
               <!-- https://web.archive.org/web/20250520160612/https://ktema.org/articles/the-overengineered-resume/  -->
            
                <link-item-title data-external-href="{{it.url}}"> 
                    {{ it.title }} 
                </link-item-title>

                {% if it.arc %}
                    <link-item-arc data-external-href="https://web.archive.org/web/{{it.arc}}/{{it.url}}"> 
                        {% include "ionicons/archive-outline.html" %} 
                    </link-item-arc>
                {% else %}
                    <link-item-arc data-external-href="https://web.archive.org/web/*/{{it.url}}"> 
                        {% include "ionicons/archive-outline.html" %} 
                    </link-item-arc>
                {% endif %}
            </link-item>
            {% endfor %}
            
        </link-list>


    </section-content>
</section> 

<!-- <section> 
    <section-title> 
        {% include "ionicons/cash-outline.html" %}
        Support 
    </section-title>  

    <section-content>
        Do you like this site? Consider supporting it with a donation. 
    </section-content>
</section>  -->

{% endblock content %}