{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/newspaper-outline.html" %}
        {{ page.title }} 
    </section-title> 

    <section-subtitle>
        {% include "ionicons/time-outline.html" %}
        {{ page.date | date(format="%A %B %d, %Y") }} 
        <br>

        {% include "ionicons/time-outline.html" %}
        {{ page.reading_time }} minutes 
        <br>
    </section-subtitle>

    <section-aside>
        {% include "ionicons/arrow-undo-outline.html" %}
        <a href="/posts">
             Posts
        </a>
    </section-aside>

    <section-content>

    {% if page.toc %}

    <!-- 
    <h3> Table of Contents </h3>
    <ul>
    {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    -->

    {% endif %} 

        {{ page.content | safe }}
    </section-content>
</section>

{% endblock %}