{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/newspaper-outline.html" %}
        {{ page.title }}
    </section-title> 

    <section-nav>
        <a href="/posts">
            {% include "ionicons/arrow-undo-outline.html" %}
             Posts
        </a>
    </section-nav>

    <section-content>

        <post>
            <post-header>
                <post-header-item>
                    {% include "ionicons/time-outline.html" %}
                    {{ page.date | date(format="%A %B %d, %Y") }} 
                </post-header-item>

                <post-header-item>
                    {% include "ionicons/time-outline.html" %}
                    {{ page.reading_time }} minutes 
                </post-header-item>
            </post-header>

            <post-content>
                {{ page.content | safe }}
            </post-content>
        </post>


    
    </section-content>
</section>

{% endblock %}