{% extends "base.html" %}

{% block content %}

<x-segment> 
    <x-segment-title> 
        {% include "ionicons/link-outline.html" %}
        {{ page.title }}
    </x-segment-title> 

    <x-segment-nav>
        {% if page.extra.nav is defined %}

        <a href="{{ page.extra.nav.url }}">
            {% include "ionicons/arrow-undo-outline.html" %}
             {{ page.extra.nav.title }}
        </a>
    
        {% endif %}
    </x-segment-nav>

    <x-segment-content>

        {{ page.content | safe }}


    
    </x-segment-content>
</x-segment>

{% endblock %}