
{% extends "base.html" %}

{% block content %}



<section> 
    <section-title> 
        {% include "ionicons/hand-left-outline.html" %}
        Welcome 
    </section-title>   

    <section-content>
        <p> Welcome to my website. This is where I post my recent work, my writing, and also links to good reading that I've found on the internet. </p>       
        <p> Are you hiring? If so, feel free to check out my <a href="/resume/2025-12-07_resume.pdf">Resume,</a> and send me an <a href="mailto:{{config.extra.email}}"> Email. </a> </p>
        <p> I am currently accepting offers. </p>
    </section-content>
    
</section>

<section>
    <section-title>
        {% include "ionicons/cube-outline.html" %}
        Projects
    </section-title>

    <section-nav>
        <a href="/projects">
             {% include "ionicons/arrow-redo-outline.html" %} 
            All Projects 
        </a>
    </section-nav>

    {% set projects = get_section(path="projects/_index.md") %}

    <section-content>
        <tinypost-list>
        {% for it in projects.pages | slice(end=3) %}
            <tinypost-item data-internal-href="{{it.path}}">
                <tinypost-item-title>
                    {{ it.title }}
                </tinypost-item-title>

                <tinypost-item-content>
                    {{ it.extra.summary }}
                </tinypost-item-content>

                <tinypost-item-status>
                    {% include "ionicons/shapes-outline.html" %}
                    {{ it.extra.type | default(value="Project") }}                    
                </tinypost-item-status>
            </tinypost-item>
        {% endfor %}
        </tinypost-list>
    </section-content>
</section> 

<section> 
    <section-title> 
        {% include "ionicons/newspaper-outline.html" %}
        Recent Posts 
    </section-title>  
    
    <section-nav>
        <a href="/posts">
             {% include "ionicons/arrow-redo-outline.html" %} 
             All Posts 
        </a>
    </section-nav>

    {% set posts = get_section(path="posts/_index.md") %}
    
    <section-content>
        <tinypost-list>
            {% for it in posts.pages | slice(end=3) %}
            <tinypost-item data-internal-href="{{it.path}}">
                <tinypost-item-title>
                    {{ it.title }}
                </tinypost-item-title>

                <tinypost-item-status>
                    {% include "ionicons/time-outline.html" %} 
                    Posted 
                    {{ it.date | date(format="%a %b. %d, %Y") }}
                </tinypost-item-status>
            </tinypost-item>
            {% endfor %}
        </tinypost-list>
    </section-content>
</section>

<section> 
    <section-title> 
        {% include "ionicons/link-outline.html" %}
        Recent Reading 
    </section-title>  

    <section-nav>
        <a href="/links">
             {% include "ionicons/arrow-redo-outline.html" %} 
             All Links 
        </a>
    </section-nav>
    
    {% set links = get_section(path="links/_index.md") %}
    
    <section-content>
        <tinypost-list>
            {% for it in links.pages | slice(end=3) %}
            <tinypost-item>
                <tinypost-item-title data-external-href="{{it.extra.url}}">
                    {% include "ionicons/link-outline.html" %}
                    {{ it.title }}
                </tinypost-item-title>
            </tinypost-item>
            {% endfor %}
        </tinypost-list> 
    </section-content>
</section> 

<script>
    document.querySelectorAll('*').forEach(item => {
        const url = item.getAttribute('data-internal-href');
        if (url) { 
            item.setAttribute('title', url);
            item.addEventListener('click', (e) => {
                window.location.href = url; 
            });
        }

        // Make it keyboard accessible
        item.setAttribute('tabindex', '0');
        item.setAttribute('role', 'link');

        item.addEventListener('keydown', (e) => {
            if (e.key === 'Enter' || e.key === ' ') {
                e.preventDefault();
                item.click();
            }
        });
    });
</script>

<script>
    document.querySelectorAll('*').forEach(item => {
        const url = item.getAttribute('data-external-href');
        if (url) { 
            item.setAttribute('title', url);
            item.addEventListener('click', (e) => {
                window.open(url, '_blank');
            });
            
            // Make it keyboard accessible
            item.setAttribute('tabindex', '0');
            item.setAttribute('role', 'link');
            item.addEventListener('keydown', (e) => {
                if (e.key === 'Enter' || e.key === ' ') {
                    e.preventDefault();
                    item.click();
                }
            });
        }
    });
</script>

{% endblock content %}