{% set resume = load_data(path=config.extra.resume_data) %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resume.basics.name }} | {{ resume.basics.label }}</title>
    <link rel="stylesheet" href="styles-printable.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@vscode/codicons@0.0.32/dist/codicon.css">

</head>
<body>
    <div class=”sheet-outer A4">
        <section class=”sheet padding-5mm”>
            <article>This is an A4 document.</article>
        </section>
        <section class=”sheet padding-5mm”>
            <article>This is an A4 document.</article> 
        </section>
    </div>
</body>
</html>