{% set resume = load_data(path=config.extra.resume_data) %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resume.basics.name }}</title>
    <link rel="stylesheet" href="styles-printable.css">
</head>
<body>
    <header>
        <h1 class="name">{{ resume.basics.name }}</h1>
    </header>
        
    <aside>
        <!-- Skills -->
        <section> 
            <h2>
                <ion-icon name="hammer-outline"></ion-icon>
                Skills
            </h2>

            {% for skill in resume.skills %} 
            <div class="section-item"> 
                <div class="header"> 
                    <div class="title">
                        {{ skill.name }}
                    </div>
                </div>

                {% if skill.keywords %}
                <div class="keyword-list">
                    {% for kw in skill.keywords %} 
                    <div class="keyword"> {{kw}} </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div> 
            {% endfor %}
        </section>

        <!-- Contact -->
        <section> 
            <div class="section-item">
                <div class="contact-item">
                    <ion-icon name="globe-outline"></ion-icon> 
                    <a href={{resume.basics.url}}> {{ resume.basics.url }}</a>
                </div>
                
                <div class="contact-item">
                    <ion-icon name="mail-open-outline"></ion-icon>
                    <a href="mailto:{{ resume.basics.email }}"> {{resume.basics.email}} </a>
                </div>
                    
                <div class="contact-item">
                    <ion-icon name="call-outline"></ion-icon>
                    <a href="tel: {{ resume.basics.phone }}"> {{resume.basics.phone}} </a>
                </div>

                <div class="contact-item">
                    <ion-icon name="home-outline"></ion-icon>
                         {{resume.basics.location.address}}
                    <br> {{resume.basics.location.city}}
                         {{resume.basics.location.region}}
                    <br> {{resume.basics.location.postalCode}}
                </div>
            </div>


        </section>
    </aside>

    <main>
        <!-- Projects --> 
        <section>
            <h2>
                <ion-icon name="cube-outline"></ion-icon>
                Projects
            </h2>
            
            {% for proj in resume.projects %}

            <div class="section-item">
                <div class="header">
                    <div class="title">{{ proj.name }}</div>
                </div>

                <ul>
                    <li>{{ proj.description }}</li>
                    <li><a href="{{proj.url}}">{{proj.url}}</a></li>
                </ul>
                

                
            </div>

            {% endfor %}
        </section>
        
        <!-- Experience -->
        <section>
            <h2>
                <ion-icon name="briefcase-outline"></ion-icon>
                Experience
            </h2>
            
            {% for work in resume.work %}
            <div class="section-item">
                <div class="header">
                    <div class="title">{{ work.position }}</div>
                    <div class="date">
                        {% if work.startDate and work.endDate %}
                        {{ work.startDate | date(format="%b. %Y") }} - {{ work.endDate | date(format="%b. %Y") }}
                        {% elif work.endDate %}
                        {{ work.endDate | date(format="%b. %Y") }}
                        {% endif %}
                    </div>
                </div>

                <div class="sub-header">
                    {{ work.name }}
                </div>

                {% if work.highlights %}
                <ul>
                    {% for highlight in work.highlights %}
                    <li>{{ highlight }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>

        <!-- Education -->
        <section>
            <h2>
                <ion-icon name="school-outline"></ion-icon>
                Education
            </h2>
            
            {% for edu in resume.education %}
            <div class="section-item">
                <div class="header">
                    <div class="title">
                        {{ edu.area }} ({{ edu.studyType }})
                    </div>
                    
                    <div class="date">
                        {% if edu.startDate and edu.endDate %}
                        {{ edu.startDate | date(format="%b. %Y") }} - {{ edu.endDate | date(format="%b. %Y") }}
                        {% elif edu.endDate %}
                        {{ edu.endDate | date(format="%b. %Y") }}
                        {% endif %}
                    </div>
                </div>
                <div class="sub-header">
                    {{ edu.institution }}
                </div>

                {% if edu.highlights %}
                <ul>
                    {% for highlight in edu.highlights %}
                    <li>{{ highlight }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </section>
    </main>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
</body>
</html>