{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/newspaper-outline.html" %}
        Posts 
    </section-title>   

    <section-aside>
        {% include "ionicons/arrow-undo-outline.html" %}
        <a href="/">
             Home
        </a>
    </section-aside>

    {% set posts = get_section(path="posts/_index.md") %}
    
    <section-content>
        <section-item-list>
            {% for it in posts.pages %}
            <section-item>
                <section-item-title>
                    <a href="{{ it.permalink }}">{{ it.title }}</a>
                </section-item-title>
                <section-item-aside>
                    {{ it.date | date(format="%a %b. %d, %Y") }}
                </section-item-aside>
            </section-item>
            {% endfor %}
        </section-item-list>
    </section-content>
    
</section>

{% endblock content %}