{% extends "base.html" %}

{% block content %}

<section> 
    <section-title> 
        {% include "ionicons/cube-outline.html" %}
        Projects
    </section-title>   

    <section-nav>
        <a href="/">
            {% include "ionicons/arrow-undo-outline.html" %}
            Home
        </a>
    </section-nav>

    {% set projects = get_section(path="projects/_index.md") %}
    
    <section-content>
        <project-list>
            {% for it in projects.pages %}

            <project-item data-internal-href="{{ it.path }}">
                <project-item-content>
                    <project-item-title>
                        {{ it.title }}
                    </project-item-title>

                    {% if it.extra.summary %}
                    {{it.extra.summary}}
                    {% else %}
                    No Summary
                    {% endif %}
                </project-item-content>
                
                <project-item-status>
                    {% include "ionicons/shapes-outline.html" %}
                    {{ it.extra.type | default(value="Project") }}
                </project-item-status>
            </project-item>
            
            {% endfor %}
        </project-list>
    </section-content>
</section>

<script>
    document.querySelectorAll('*').forEach(item => {
        const url = item.getAttribute('data-internal-href');
        if (url) { 
            item.setAttribute('title', url);
            item.addEventListener('click', (e) => {
                window.location.href = url; 
            });
        }

        // Make it keyboard accessible
        item.setAttribute('tabindex', '0');
        item.setAttribute('role', 'link');

        item.addEventListener('keydown', (e) => {
            if (e.key === 'Enter' || e.key === ' ') {
                e.preventDefault();
                item.click();
            }
        });
    });
</script>

{% endblock content %}